
@{
    ViewData["Title"] = "Index";
}

<br/>
<h2>List of all users:</h2>
<br/>

<div class="panel-body">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="hidden-xs">ID</th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (ApplicationUser user in ViewBag.Users)
            {
                <tr>
                    <td class="hidden-xs">1</td>
                    <td>John Doe</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-xs btn-default glyphicon glyphicon-pencil"></a>
                        <a class="btn btn-xs btn-danger glyphicon glyphicon-apple"></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>